.collapsible {
	border: 1px solid #d0d0d0;
	margin-bottom: 10px;
	border-radius: 6px;
}

.header {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	cursor: pointer;
}

.arrow {
	font-size: 12px;
}

.content {
	padding: 10px;
}
